.dev-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.dev-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto 0;
  font-family: "SourceSerifPro-Bold", "Times New Roman", serif;
}

.dev-card__image {
  border-radius: 50%;
  width: 225px;
  height: 225px;
  object-fit: cover;
  margin: 0 auto;
}

.dev-card-text-container {
  margin: 0 auto;
}

.dev-card__name {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 0;
  text-shadow: 1px 1px white;
}

.dev-card__role {
  text-align: center;
  font-size: 25px;
  color: #447198;
  margin: 0;
  text-shadow: 1px 1px white;
}

@media (max-width: 450px) {

  .dev-card__image {
    width: 150px;
    height: 150px;
  }

  .dev-card__name {
    font-size: 20px;
  }

  .dev-card__role {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .dev-card__role:nth-last-of-type(1) {
    margin-bottom: 0;
  }

}