.developers {
display: flex;
flex-direction: column;
background-color: rgb(20, 20, 20);
background-size: cover;
background-repeat: no-repeat;
font-family: "SourceSerifPro-Bold", "Times New Roman", serif;
justify-content: space-around;
}

.developers__title {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

