.developers {
display: flex;
flex-direction: column;
background-image: url("../images/woodBackdrop.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 1000px;
font-family: "SourceSerifPro-Bold", "Times New Roman", serif;
justify-content: space-around;
}

.developers__title {
  margin: 0 auto;
  color: #2b2b2b;
  font-size: 128px;
}

