.developers {
display: flex;
flex-direction: column;
/* background-image: url("../images/woodBackdrop.jpg"); */
background-image: url("../images/devbackground.jpg");
background-size: cover;
background-repeat: no-repeat;
font-family: "SourceSerifPro-Bold", "Times New Roman", serif;
justify-content: space-around;
}

.developers__title {
  margin: 0 auto;
  color: sienna;
  font-size: 50px;
  opacity: .5;
  padding-top: 30px;
  padding-bottom: 30px;
}

