.locations {
  margin-top: 108px;
  padding: 0 20px;
}

.locations__subtext {
  width: fit-content;
  height: fit-content;
  margin: 32px auto;
  font-family: "Anta", "Times New Roman", serif;
  font-size: 64px;
  color: #7f7f7f;
  text-align: center;
}

.locations__subtext_span {
  color: #75a7d0;
}

.swiper {
  display: flex;
  max-width: 1110px;
}

.swiper-slide {
  display: flex;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 10;
}

.swiper-pagination {
  margin-top: 100px;
}